<h1>{{welcomemsgelec}}</h1>
<div> Sort By :
    <select name="SORT" ng-model="sortBy">
        <option value="name" selected>Name</option>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
    </select>
    <input type="checkbox" ng-model="rev"> {{revdisp}} {{rev}}</div>
<ul id="moblist">
    <li ng-repeat="obj in result.mobiles|orderBy:sortBy:rev">
        <div> <img ng-src="{{obj.image}}" alt="No Image">
            <br>
            <br><b> {{obj.name}}</b>
            <br> ₹{{obj.price}}
            <br> Sold By {{obj.vendor}}
            <br> Rating : {{obj.rating}} star
            <br> In Stock : {{obj.inStock}} </div>
    </li>
</ul>