<h1>{{msg}}</h1>
<div> Sort By :
    <select name="SORT" ng-model="sortBy">
        <option value="name" selected>Name</option>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
    </select>
    <input type="checkbox" ng-model="rev"> {{revdisp}} {{rev}}</div>
<ul id="shoeslist">
    <li ng-repeat="obj in result.shoesdata|orderBy:sortBy:rev">
        <div> <img ng-src="{{obj.url}}" alt="No Image">
            <br>
            <br><b> {{obj.name}}</b>
            <br> ₹{{obj.price}}
            <br> Rating : {{obj.rating}} stars </div>
    </li>
</ul>